<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>
<body>
    
        <ul>

            <a href="/registro"><li>Crea tu cuenta</li></a>
            <li></li>
            <li></li>
            <li></li>


        </ul>


        <h1>Hola Clase</h1>

        <form action="" method="POST" >

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" placeholder="Juan" required minlength="4">
            </div>

            <div class="form-group">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" required minlength="6">
            </div>


            <div class="form-group">
            <label for="intereses">Intereses</label>

            <label for="deportes">Deportes</label>
            <input name="deportes" value="" type="checkbox">

            <label for="musica">Musica</label>
            <input name="musica" value="" type="checkbox">

            <label for="Otros">Otros</label>
            <input name="Otros" value="" type="checkbox">
            </div>


            <button class="myButton" type="submit">Enviar</button>

        </form>


</body>
</html>